@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #2e2e2e;
    color: #ffffff;
    transition: all 2s;
    overflow: hidden;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/*Estilização do header*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
    box-shadow: 0 0 4px #414141;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
.logo{
    padding: 10px;
    text-align: center;
}
.logo h1{
    font-size: 22px;
}
.logo p{
    font-size: 11px;
}


/*Estilização do MENU*/
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu ul .btn_menu{
    list-style: none;
    cursor: pointer;
    position: relative;
    opacity: .5;
    font-size: 13px;
    transition: all .5s;
}
.menu ul li:hover{
    opacity: 1;
}
.menu ul .ativo_home{
    opacity: 1;
    z-index: 999;
    font-size: 20px;
    border-radius: 10px;
}
.menu ul .ativo_sobre{
    opacity: 1;
    z-index: 999;
    font-size: 18px;
    border-radius: 10px;
}
.menu ul .ativo_skills{
    opacity: 1;
    z-index: 999;
    font-size: 18px;
    border-radius: 10px;
}
.menu ul .ativo_projetos{
    opacity: 1;
    z-index: 999;
    font-size: 18px;
    border-radius: 10px;
}
.menu ul .ativo_contacto{
    opacity: 1;
    z-index: 999;
    font-size: 18px;
    border-radius: 10px;
}


/*Animação*/
@keyframes fadeIn {
    0%{
      top: 0;
      opacity: 0;
      transform: translateY(100px) scale(0.9);
    }
    100%{
      top: 4%;
      opacity: 1;
      transform: translateY(0px) scale(1);
    }
  }


.flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/*Estilização do HOME*/
.home{
    width: 90%;
    align-self: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 10%;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1.5s ease-in-out alternate;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.titulo_home{
    font-size: 40px;
}
.titulo_home .cor{
    color: #1d719d;
}
.especialidade .texto_home{
    font-size: 40px;
}
.especialidade{
    position: relative;
    width: 460px;
}
.especialidade .texto_home:before{
    font-size: 40px;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2e2e;
    border-left: 2px solid #1d719d;
    animation: cursor 4s steps(12) infinite;
}
.especialidade .litghFundo::before{
    transition: all 2s;
    background-color: #fff;
}
.especialidade .darkFundo::before{
    transition: all 2s;
    background-color: #2e2e2e;
}

@keyframes cursor{
    40%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}

.flex .redes_home a{
    display: block;
    color: #fff;
    font-size: 24px;
}
.btn_home{
    margin: 30px 40px;
}
.btn_home_contacto{
    background-color: #1d719d;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}
.foto{
    z-index: 99;
}

/*Estilização do Sobre*/
.sobre{
    width: 90%;
    align-self: center;
    margin-top: 8%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 10%;
    animation: fadeIn 1.5s ease-in-out alternate;
    border-radius: 10px;
}
.redes_sobre a{
    color: #fff;
    font-size: 24px;
}
.redes_sobre a:hover{
    color: #1d719d;
}

/*Estilização do Skills*/
.skills{
    width: 90%;
    align-self: center;
    margin-top: 8%;
    display: none;
    justify-content: center;
    padding: 2%;
    gap: 4%;
    animation: fadeIn 1.5s ease-in-out alternate;
    border-radius: 10px;
}
.front-end{
    padding: 15px;
    border-radius: 10px;
}
.front-end .frontend-btn{
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.front-end .frontend-btn i{
    font-size: 30px;
}
.foto_skills img{
    width: 300px;
}
.tecnologias{
    margin-top: 10px;
    width: 350px;
    animation: fadeIn 1.5s ease-in-out alternate;
    font-size: 12px;
    padding: 6px;
}
.front-end .titulo_tech{
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.front-end .titulo_tech i{
    font-size: 50px;
}
.back-end{
    padding: 15px;
    border-radius: 10px;
}
.back-end .backend-btn{
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.back-end .backend-btn i{
    font-size: 30px;
}
.back-end .titulo_tech{
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.back-end .titulo_tech i{
    font-size: 50px;
}
.mobile{
    padding: 15px;
    border-radius: 10px;
}
.mobile .mobile-btn{
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.mobile .mobile-btn i{
    font-size: 30px;
}
.mobile .titulo_tech{
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}
.mobile .titulo_tech i{
    font-size: 50px;
}
.iconSkills{
    font-size: 30px;
}

/*Estilização do Contactos*/
.contacto{
    width: 90%;
    align-self: center;
    margin-top: 10%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 10%;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1.5s ease-in-out alternate;
}

.cntt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cntt a, .cntt i{
    color: #1e92d1;
    text-decoration: none;
    font-size: 60px;
}
.foto_ctnt img{
    width: 300px;
}
.foto_ctnt .textoC{
    text-align: center;
}

/*Estilização do Projetos*/
.projetos{
    width: 100%;
    align-self: center;
    margin-top: 4%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    gap: 10%;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 1.5s ease-in-out alternate;
    overflow: auto;
}
.grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}
.projeto{
    width: 300px;
    background-color: #093e5a;
    border-radius: 10px;
    box-shadow: 0 0 5px #1e92d1;
}
.projeto .img img{
    border-radius: 10px;
    width: 100%;
}
.dados{
    padding: 10px;
}
.dados .nome{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.dados .descricao{
    font-size: 13px;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.links a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.category .categoryBtn{
    background-color: #1d719d;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.category .categoryBtn:hover{
    background-color: #1e92d1;
}
